<div id="nav" class="p-relative m0 bg-dark-noise1">
    <div id="close"><span class="fa fa-close"></span></div>
    <nav class="p1">
      <ul class="nav-list">
        <li class="nav-item"><button type="button" class="nav-button" id="new-task"><a href="/newtask">Nueva Tarea</a></button></li>
        <li class="nav-item"><button type="button" class="nav-button" id="new-task"><a href="/">Todas las tareas</a></button></li>
        <li class="nav-item"><button type="button" class="nav-button" id="search-task"><a href="">Buscar tarea</a></button></li>
        <li class="nav-item"><button type="button" class="nav-button" id="tasks-complete"><a href="">Tareas completas</a></button></li>
        <li class="nav-item"><button type="button" class="nav-button p-relative" id="tasks-categories">Categorias <img src="assets/svg/caret.svg" alt="Caret" class="icon"></button>
        <ul class="list-down">
          <li><a href="">Urgente</a></li>
          <li><a href="">Importante</a></li>
          <li><a href="">Especial</a></li>
          <li><a href="">Única</a></li>
          <li><a href="">Escolar</a></li>
          <li><a href="">Normal</a></li>
        </ul>
        </li>
      </ul>
    </nav>
  </div>