<div id="nav" class="p-relative m0 bg-dark-noise1">
    <div id="close"><span class="fa fa-close"></span></div>
    <nav class="p1">
      <ul class="nav-list">
        <li class="nav-item"><button type="button" class="nav-button bg-dark-noise3" id="new-task"><a href="/newtask">Nueva Tarea</a></button></li>
        <li class="nav-item"><button type="button" class="nav-button bg-dark-noise3" id="new-task"><a href="/">Todas las tareas</a></button></li>
        <li class="nav-item"><button type="button" class="nav-button bg-dark-noise3" id="search-task"><a href="/search">Buscar tarea</a></button></li>
        <li class="nav-item"><button type="button" class="nav-button bg-dark-noise3 p-relative" id="tasks-categories">Categorias <img src="<%=path%>assets/svg/caret.svg" alt="Caret" class="icon"></button>
        <ul class="list-down">
          <li><a href="/search/result/category/urgent">Urgente</a></li>
          <li><a href="/search/result/category/important">Importante</a></li>
          <li><a href="/search/result/category/special">Especial</a></li>
          <li><a href="/search/result/category/unique">Única</a></li>
          <li><a href="/search/result/category/escolar">Escolar</a></li>
          <li><a href="/search/result/category/normal">Normal</a></li>
        </ul>
        </li>
      </ul>
    </nav>
  </div>